// Colors
$primary-color: #4D7CFE;
$secondary-color: #FFFFFF;
$success-color: #21A11E;
$danger-color: #C11B1B;
$warning-color: #C1931B;

// Text Colors
$primary-text: #778CA2;
$secondary-text: #98A9BC;
$bold-text: #252631;
$success-text: $success-color;
$danger-text: $danger-color;
$warning-text: $warning-color;

// Border Colors
$bold-border: #778CA2;
$light-border: #E8ECEF;

// Background Colors
$bg-color: #F8FAFB;
